<!-- about me-->
<div id="about" class="container ">
  <div class="row">
    <div class="col-md-5 text-center">
      <h1>Kevin He</h1>
      <h3>Python Programmer. Web Designer. Data Scientist.</h3>
    </div>
    <div id="intro-text" class="col-md-7">
      <p>
        I am a master student of MIS in Mays business school of Texas A&M. I
        have a strong background in Python programming on data analysis and web
        design. I am proficient in data engineering using modules like Pandas,
        NumPy, SciPy, and Scikit-learn. I also have rich experience using Python
        web development framework Django together with Javascript and and React.
        I am a positive and determined person who is always ready to meet
        challenges and make contributions. Besides work and study, I like
        cooking, piano, basketball, and fitness.
      </p>
    </div>
  </div>
</div>
