<!-- contact me-->
<div id="contact" class="container">
  <div class="text-center ">
    <img id="profile-pic" class="rounded-circle" src="assets/img/profile.JPG" />
    <h2>Let's get in touch</h2>

    <form class="text-center" action="mailto:jia.he@tamu.edu" method="post">
      <div id="contact-first-row" class="row">
        <div class="col-md-4">
          <input type="text" placeholder="Name" />
        </div>
        <div id="email-row" class="col-md-8">
          <input type="text" placeholder="Email" />
        </div>
      </div>
      <div class="row">
        <input id="contact-second-row" type="text" placeholder="Message" />
      </div>
      <div class="form-submit ">
        <button type="submit" class="btn btn-secondary">Submit</button>
      </div>
    </form>
    <div id="social-media">
      <a href="https://github.com/aggieKevin/"
        ><i class="fab fa-github fa-fw fa-3x  text-secondary"></i
      ></a>
      <a href="https://www.linkedin.com/in/jiahe-kevin/"
        ><i class="fab fa-linkedin fa-fw fa-3x text-secondary "></i
      ></a>
      <a href="mailto:jia.he@tamu.edu"
        ><i class="fa fa-envelope fa-fw fa-3x text-secondary "></i
      ></a>
      <div class="footer text-center">
        <h5>@Kevin 2019</h5>
      </div>
    </div>
  </div>
</div>
