<!-- my skills-->
<div id="skills" class="container text-center">
  <h1>My Skillset</h1>
  <div class="row">
    <!-- skill 1-->
    <div class="col-md-3 text-center">
      <i class="fab fa-python fa-fw fa-8x"></i>
      <h4>Python</h4>
      <p>
        Python is my favorite computer language. Being proficient in Python
        modules like Pandas, NumPy, SciPy, and Scikit-learn, I also like to
        build websites with Python framework Django and Flask. Check my Python
        certificate
        <a
          class="mr-1"
          href="assets/certificate/MITx 6.00.1x Certificate _ edX.pdf"
          >1</a
        >
        <a
          class="mr-1"
          href="assets/certificate/MITx 6.00.2x Certificate _ edX.pdf"
          >2</a
        >
        <a class="mr-1" href="assets/certificate/python_algorithm1.pdf">3</a>
        <a class="mr-1" href="assets/certificate/python_algorithm2.pdf">4</a>
      </p>
    </div>
    <!-- skill 2 -->
    <div class="col-md-3 text-center">
      <i class="fab fa-js-square fa-fw fa-8x"></i>
      <h4>JavaScript</h4>
      <p>
        JavaScript is the language I have been using a lot. I am not only good
        at using JavaScript to create dynamic effects, but also have rich
        experience in web deveopment with popular framework like React and
        Angualr.
      </p>
    </div>
    <!-- skill 3 -->
    <div class="col-md-3 text-center">
      <i class="fa fa-database fa-fw fa-8x"></i>
      <h4>Database</h4>
      <p>
        I have multiple years of experience in developing and using database,
        both SQL and NoSQL. MySQL is the one I use most, which I can combine
        together with Python in data analysis or back-end data management.
      </p>
    </div>
    <!--skill 4 -->
    <div class="col-md-3 text-center">
      <i class="fab fa-aws fa-fw fa-8x"></i>
      <h4>Cloud Service</h4>
      <p>
        I’m good at working with open source libraries and cloud computing
        platforms. I have rich experience in using AWS and Microsoft Azure to
        deploy projects and manage database system remotely on cloud.
      </p>
    </div>
  </div>
</div>
