<!-- portfolio-->
<div id="portfolio" class="container">
  <div class=" text-center">
    <h1>Check out my porftolio</h1>
  </div>
  <!-- first row of portfolio-->
  <div class="text-center mt-5">
    <h2 class="mt-3">Machine learning and AI</h2>
  </div>
  <div class="row">
    <!-- portfolio 1-->
    <div class="card col-md-4 ">
      <div class="wrapper port">
        <a href="https://github.com/aggieKevin/Machine_Learning">
          <img
            src="assets/img/machine_learning.PNG"
            class="card-img-top"
            alt="Research "
          />
          <div class="inner port-inner text-center">
            <p>Python machine learning project with Scikit-learn.</p>
          </div>
        </a>
      </div>
      <div class="card-body  text-center">
        <h4 class="card-title">Machine Learning</h4>
      </div>
    </div>
    <!-- portfolio 2-->
    <div class="card col-md-4 ">
      <div class="wrapper port">
        <a href="https://github.com/aggieKevin/Neural-Network-with-TensorFlow">
          <img
            img
            src="assets/img/nn.jpeg"
            class="card-img-top"
            alt="Neural network "
          />
          <div class="inner port-inner text-center">
            <p>
              Neural Network project with libraries Keras and TensorFlow
            </p>
          </div>
        </a>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">Neural Network</h4>
      </div>
    </div>
    <!-- portfolio 3-->
    <div class="card col-md-4 ">
      <div class="wrapper port">
        <a href="https://github.com/aggieKevin/PySpark">
          <img
            img
            src="assets/img/pySpark.png"
            class="card-img-top"
            alt="Research "
          />
          <div class="inner port-inner text-center">
            <p>
              Big data project on movie recommendation with PySpark
            </p>
          </div>
        </a>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">PySpark Big Data</h4>
      </div>
    </div>
  </div>
  <!-- second row of portfolio-->
  <div class="text-center mt-5">
    <h2 class="mt-3">Python Modeling</h2>
  </div>
  <div class="row">
    <!-- porftolio 4-->
    <div class="card col-md-4 ">
      <div class="wrapper port">
        <a href="https://github.com/aggieKevin/PythonModeling_Finance">
          <img
            src="assets/img/finance.PNG"
            class="card-img-top"
            alt="Research "
          />
          <div class="inner port-inner text-center">
            <p>
              Build models using modules like Pandas and Numpy to do financial
              analysis
            </p>
          </div>
        </a>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">Python Modeling In Finance</h4>
      </div>
    </div>
    <!-- porftolio 5-->
    <div class="card col-md-4 ">
      <div class="wrapper port">
        <a href="https://github.com/aggieKevin/Python_in_Research">
          <img
            src="assets/img/research.png"
            class="card-img-top"
            alt="Research
            "
          />
          <div class="inner port-inner text-center">
            <p>
              Use Python to integrate data and test result with statistic models
            </p>
          </div>
        </a>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">Python in data Research</h4>
      </div>
    </div>
    <!-- porftolio 6-->
    <div class="card col-md-4 ">
      <div class="wrapper port">
        <a href="https://github.com/aggieKevin/Python_Web_Scraping">
          <img
            src="assets/img/crawl.png"
            class="card-img-top"
            alt="Research "
          />
          <div class="inner port-inner text-center">
            <p>Use Python to crawl data from API and websits like Wikipedia</p>
          </div>
        </a>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">Crawl data with Python</h4>
      </div>
    </div>
  </div>

  <!-- third row of portfolio-->
  <div class="text-center mt-5">
    <h2 class="mt-3">Django Framework Project</h2>
  </div>
  <div class="row">
    <!-- porftolio 4-->
    <div class="card col-md-4 ">
      <div class="wrapper port">
        <a href="https://github.com/aggieKevin/Python_Django_Blog">
          <img src="assets/img/blog.PNG" class="card-img-top" alt="Research " />
          <div class="inner port-inner text-center">
            <p>
              Personal web blog built with Django framework
            </p>
          </div>
        </a>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">Kevin's blog</h4>
      </div>
    </div>
    <!-- porftolio 5-->
    <div class="card col-md-4 ">
      <div class="wrapper port">
        <a href="https://github.com/aggieKevin/Python_Django_Babywatch">
          <img
            src="assets/img/babywatch.PNG"
            class="card-img-top"
            alt="Research
          "
          />
          <div class="inner port-inner text-center">
            <p>BabyWatch - Social platform built based on Django framework</p>
          </div>
        </a>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">BabyWatch</h4>
      </div>
    </div>
    <!-- porftolio 6-->
    <div class="card col-md-4 ">
      <div class="wrapper port">
        <a href="https://github.com/aggieKevin/Django-and-React">
          <img src="assets/img/todo.png" class="card-img-top" alt="Research " />
          <div class="inner port-inner text-center">
            <p>A website built with Python based web framework Django</p>
          </div>
        </a>
      </div>
      <div class="card-body text-center">
        <h4 class="card-title">toDo List APP</h4>
      </div>
    </div>
  </div>
  <!-- forth row of portfolio-->
  <div class="text-center">
    <h2 class="mt-5">Angular Framework</h2>
  </div>
  <div class="row">
    <!-- portfolio 7-->
    <div class="card col-md-4 ">
      <div class="wrapper port">
        <a href="https://github.com/aggieKevin/Angular-Project---My-Portfolio">
          <img
            src="assets/img/angularWeb.png"
            class="card-img-top"
            alt="Research "
          />
          <div class="inner port-inner text-center">
            <p>A personal portfolio website built with Angular 7 framework.</p>
          </div>
        </a>
      </div>
      <div class="card-body  text-center">
        <h4 class="card-title">Portfolio Website</h4>
      </div>
    </div>
    <!-- portfolio 8-->

    <!-- portfolio 9-->
  </div>
</div>
