<!--The content below is only a placeholder and can be replaced.-->
<nav
  id="myNav"
  class="navbar  sticky-top navbar-expand-sm bg-secondary navbar-dark"
>
  <div class="navbar-nav">
    <a class="nav-item nav-link text-light font-weight-bold" href="">
      Kevin He
    </a>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggle"
    aria-controls="navbarToggle"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggle">
    <div class="navbar-nav  ml-auto ">
      <a class="nav-item nav-link text-light mr-3" routerLink="/aboutMe"
        >About Me</a
      >
      <a class="nav-item nav-link text-light mr-3" routerLink="/skills"
        >Skills</a
      >
      <a class="nav-item nav-link text-light mr-3" routerLink="/portfolio"
        >Portfolio</a
      >
      <a class="nav-item nav-link text-light" routerLink="/contact">Contact</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
